<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.binjar.sample.activitytransition">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <application>
        <activity android:name=".TransitionActivity"/>
        <receiver
            android:name=".TransitionUpdatesReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name=".TransitionUpdatesReceiver.ACTION_ACTIVITY_RECOGNIZED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
